<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminPage</title>
</head>
<body>
<h2> ADMIN PANEL </h2>
<table>
  <tr>
    <th>Id</th>
    <br> <br>
    <th>Name</th>
    <br> <br>
    <th>Age</th>
    <br> <br>
    <th>Email</th>
    <br> <br>
    <th>Role</th>
    <br> <br>
    <th>Action</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getRoles()}"></td>

    <td>
      <a th:href="@{/admin/{id} (id = ${user.getId()})}">
        <input type="button" value="Edit"/>
      </a>
    <td/>

    <td>
      <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
        <input type="submit" value="Delete">
      </form>
    </td>

  </tr>

</table>

</body>

<table>
  <form action="admin/createUser">
    <button type="submit">Add User</button>
  </form>
  <form action="/logout">
    <button type="submit">Logout</button>
  </form>
  <form action="/user">
    <button type="submit">UserInfo</button>
  </form>
</table>

</html>